body{
	direction:rtl;
	text-align:right;
	
}
/* main headline*/
h1{
	font-size: 48px;
	font-family: Tahoma;
}
/* nav bar design*/
ul{
margin:0;
padding:0;
list-style-type: none;	
background-color: grey;	
}

li{
	
	float:right;
	background-color: #00d432;
	border: 1px solid #d03214;
	margin: 3px;
}
section{
	
}
/* h2 design */
h2{
	clear:both;
	font:Arial 36px bold;
}
/*h3 design*/
h3{
	font:Tahoma 20px italic;
}
/* para design */
p{
	font-family:'Indie Flower';
	font-size: 14px;
	
}
